header {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

form {
    background-color: antiquewhite;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

label {
  min-width: 48%;
  margin-bottom: 10px;
}

input, select {
    width: 10%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="datetime-local"] {
    width: 8%;
}

select {
    width: 5%;
}

textarea {
    width: 30%;
    height: 200px;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.button-submit {
    background-color: lightblue;
    width: 50px;
    height: 32px;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 20px 0;
    cursor: pointer;
}

.button-cancel {
    background-color: lightcoral;
    width: 100px;
    height: 32px;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px 10px;
    margin: 20px 0;
    cursor: pointer;
}

.button-area {
    display: flex;
    align-content: row;
    gap: 10px;
}