<head>
    <link rel="stylesheet" th:href="@{css/new.css}">
    <title>問合せ登録</title>
</head>
<header>
    <h1>問合せ登録</h1>
</header>
<div class="responsive-form">
<form th:action="@{/new}" th:object="${queryForm}" method="post">
        <div>
            <label><strong>名前</strong></label>
            <input type="text" th:field="*{author}" placeholder="例: 山田太郎">
            <div th:errors="*{author}"></div>
        </div>
        <div>
            <label><strong>電話番号</strong></label>
            <input type="text" th:field="*{phoneNumber}" placeholder="例: 09012345678 ※ハイフンなし">
            <div th:errors="*{phoneNumber}"></div>
        </div>
        <div>
            <label><strong>対応ステータス</strong></label>
            <select th:field="*{status}">
                <option value="未対応">未対応</option>
                <option value="対応中">対応中</option>
                <option value="完了">完了</option>
            </select>
            <div th:errors="*{status}"></div>
        </div>
        <div>
            <label><strong>問合せ日時</strong></label>
            <input type="datetime-local" th:field="*{date}">
            <div th:errors="*{date}"></div>
        </div>
        <div>
            <label><strong>問合せ内容</strong></label><br>
            <textarea th:field="*{queryBody}" placeholder="問合せ内容を入力してください"></textarea>
            <div th:errors="*{queryBody}"></div>
        </div>
        <div class="button-area">
            <button type="submit" class="button-submit">登録</button>
            <button type="button" class="button-cancel" onclick="window.location.href='/'">キャンセル</button>
        </div>
    </form>
</div>